@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-index {
  display: flex;
  height: 100vh;
}

.slider-container {
  align-self: center;
  height: 100%;
  width: 52%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .slider-container {
    width: 60%;
  }
}

.sliderimg {
  width: 100%;
  height: 100%;
}

.sliderimg__photo {
  width: 100%;
  height: inherit;
  cursor: pointer;
}

.login {
  align-self: center;
  height: 100%;
  width: 48%;
}
@media screen and (min-width: 768px) {
  .login {
    padding-top: 15px;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .login {
    padding-top: 15px;
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .login {
    padding-top: 4vh;
  }
}

.containerlogin {
  height: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .containerlogin {
    width: 85%;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .containerlogin {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .containerlogin {
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .containerlogin {
    width: 65%;
  }
}
@media screen and (min-width: 2560px) {
  .containerlogin {
    width: 1000px;
    font-size: 66%;
  }
}

.containerlogin__title {
  color: #222F3E;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .containerlogin__title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .containerlogin__title {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .containerlogin__title {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .containerlogin__title {
    font-size: 5.5vh;
  }
}
@media screen and (min-width: 2560px) {
  .containerlogin__title {
    font-size: 5rem;
  }
}

.containerlogin__text {
  color: #8395A7;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .containerlogin__text {
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .containerlogin__text {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .containerlogin__text {
    text-align: left;
  }
}
@media screen and (min-width: 2560px) {
  .containerlogin__text {
    font-size: 2.5rem;
  }
}

.socialbuttons {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .socialbuttons {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .socialbuttons {
    margin-bottom: 35px;
  }
}

.btnsocial {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 43px;
  justify-content: center;
  width: 119px;
}
@media screen and (min-width: 768px) {
  .btnsocial {
    width: 85px;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .btnsocial {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .btnsocial {
    width: 119px;
  }
}
@media screen and (min-width: 2560px) {
  .btnsocial {
    width: 28em;
    height: 8em;
  }
}

.btnsocial__logo {
  align-self: center;
  height: 17px;
  width: 17px;
}
@media screen and (min-width: 2560px) {
  .btnsocial__logo {
    width: 8em;
    height: 5em;
  }
}

.btnsocial--facebook {
  background-color: #3a559f;
}

.btnsocial--gmail {
  background-color: #FFFFFF;
  border: solid 1px #C8D6E5;
}

.btnsocial--linkedin {
  background-color: #0077B7;
}

.form {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.field-email, .field-password {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 2560px) {
  .field-email, .field-password {
    height: 8em;
  }
}

.field-email__input {
  cursor: default;
  font-size: 14px;
}
@media screen and (min-width: 2560px) {
  .field-email__input {
    font-size: 3.2em;
  }
}

.field-password__input {
  cursor: pointer;
  position: absolute;
  font-size: 14px;
}
@media screen and (min-width: 2560px) {
  .field-password__input {
    font-size: 3.2em;
  }
}

@media screen and (min-width: 2560px) {
  .inputlabel {
    font-size: 3.2em;
  }
}

.form__lostpass {
  color: #6C5DD3;
  cursor: pointer;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .form__lostpass {
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .form__lostpass {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .form__lostpass {
    text-align: right;
  }
}
@media screen and (min-width: 2560px) {
  .form__lostpass {
    font-size: 3.2em;
  }
}

.btnjoin {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  height: 56px;
  text-align: center;
  line-height: 56px;
  width: 275px;
  align-self: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .btnjoin {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .btnjoin {
    width: 95%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .btnjoin {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 2560px) {
  .btnjoin {
    width: 375px;
    height: 80px;
    font-size: 2.5em;
  }
}

.btnjoin--skin {
  background-color: #354BD4;
  color: white;
}

.form__register {
  text-align: center;
}
@media screen and (min-width: 2560px) {
  .form__register {
    margin-top: 25px;
    font-size: 3.5em;
  }
}

.form__register--link {
  color: #3345D7;
  cursor: pointer;
}

.field-password__eye {
  background-image: url(../images/eyeclose.svg);
  background-size: 21px 13px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 20px;
  margin-left: 93%;
  margin-top: 20px;
  width: 30px;
  transition-duration: 0.5s;
  transition-property: background;
}
@media screen and (min-width: 768px) {
  .field-password__eye {
    margin-left: 90%;
  }
}
@media screen and (max-width: 767px) and (min-height: 569px) {
  .field-password__eye {
    margin-left: 86%;
  }
}
@media screen and (min-width: 1024px) {
  .field-password__eye {
    margin-left: 93%;
  }
}
@media screen and (min-width: 2560px) {
  .field-password__eye {
    margin-top: 30px;
    background-size: 48px 30px;
    width: 60px;
    height: 30px;
    margin-left: 90%;
  }
}

.field-password__checkbox:checked + label {
  background-image: url(../images/eyeopen.svg);
  /* TRANSITION */
}

.field-password__checkbox {
  display: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.menu {
  border: solid;
  width: 265px;
  padding: 35px 15px 0px 15px;
  transition: width 0.25s;
}

.option__text {
  font-size: 14px;
}

.checkboxbutton:checked + .menu > .option > .option__text {
  display: none;
}

.menu__buttonandtitle {
  border: solid;
  display: flex;
}

.space {
  width: 80px;
}

.title {
  color: #222F3E;
  font-size: 30px;
  font-weight: bold;
  transition: margin-left 2s;
  margin-left: 15px;
  text-align: center;
}

.checkboxbutton:checked + .menu {
  width: 96px;
}

.checkboxbutton:checked + .menu > .menu__buttonandtitle {
  flex-direction: column;
}

.checkboxbutton:checked + .menu > .menu__buttonandtitle > .title {
  overflow: hidden;
  width: 18px;
  transition: margin-left 1s;
}

.checkboxbutton:not(:checked) + .menu > .menu__buttonandtitle > .title {
  transition: margin-left 2s;
  margin-left: 25px;
  width: 19px;
}

.checkboxbutton:checked + .menu > .menu__buttonandtitle > .burgerbutton {
  margin: auto;
}

.container__info {
  border: solid;
  transition: width 2s;
  width: 100%;
}

.checkboxbutton {
  display: none;
  position: absolute;
}

.menu__buttonandtitle {
  border: solid red;
  display: flex;
  flex-direction: row;
}

.burgerbutton {
  cursor: pointer;
  height: 20px;
  margin-top: 12px;
  position: relative;
  text-align: center;
  transition: margin-right 2s;
  width: 23px;
}

.span1, .span2, .span3 {
  background-color: #222F3E;
  border-radius: 5px;
  content: "";
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  transition: all 400ms ease;
}

.span2 {
  left: 4px;
  top: 5.5px;
  transition: left 0.5s;
  width: 15px;
}

.checkboxbutton:checked + .menu > .menu__buttonandtitle > .burgerbutton > .span2 {
  left: 0px;
}

.span3 {
  left: 9px;
  width: 10px;
  top: 12px;
  transition: left 0.5s;
}

.checkboxbutton:checked + .menu > .menu__buttonandtitle > .burgerbutton > .span3 {
  left: 0px;
}