*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-index{
    display: flex;
    height: 100vh;
    
    .slider-container{
        align-self: center;
        border: solid;
        height: 83%;
        width: 58%;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
}

.slider-images{
    width: 3000px;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
}

.slider-img {
    display: inline-block;
    width:100%;
    height: 100%;
    

   

    img{
       width: 100%;
        height: inherit;
    }
}

.login{
    align-self: center;
    border: solid;
    height: 83%;
    width: 42%;
}
