
$color-title: #222F3E;
$color-message: #8395A7;
$color-btn-facebook: #3a559f;
$color-btn-gmail: #FFFFFF;
$gmail-border-color:#C8D6E5;
$color-btn-linkedin: #0077B7;
$color-text-passrecovery: #6C5DD3;
$color-btn-join: #354BD4;
$color-link: #3345D7;

//Login

.btnjoin{
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 56px;
    text-align: center;
    line-height: 56px;
    width: 275px;
    align-self: center;
    font-size: 14px;
    

    @media screen and(min-width: 768px){
        margin-bottom: 40px;
    }

    @media screen and(max-width: 767px) and (min-height: 569px) {
        width: 95%;
        margin-bottom: 60px;
    }
    @media screen and(min-width: 1024px){
        margin-bottom: 70px;
    }

    @media screen and(min-width: 2560px){
        width: 375px;
        height: 80px;
        font-size: 2.5em;
    }
}


.btnjoin--skin{
    background-color: $color-btn-join;
    color:white;

}

.btnsocial{
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 43px;
    justify-content: center;
    width: 119px;

    @media screen and(min-width: 768px){
        width: 85px;
    }
    @media screen and(max-width: 767px) and (min-height: 569px) {
        width: 25%;
    }
    @media screen and(min-width: 1024px){
        width: 119px;
    }
    @media screen and(min-width: 2560px){
        width: 28em;
        height: 8em;
    }
}

.btnsocial__logo{
    align-self: center;
    height: 17px;
    width: 17px;
    @media screen and(min-width: 2560px){
        width: 8em;
        height: 5em;
    }
}

.btnsocial--facebook{
    background-color: $color-btn-facebook;
}

.btnsocial--gmail{
    background-color: $color-btn-gmail;
    border: solid 1px $gmail-border-color;
}

.btnsocial--linkedin{
    background-color: $color-btn-linkedin;
}

.containerlogin{
    height: 90%;
    margin:auto;
    @media screen and(min-width: 768px){
        width: 85%;
    }
    @media screen and(max-width: 767px) and (min-height: 569px) {
        width: 90%;
    }
    @media screen and(min-width: 1024px){
        width: 400px;
    }
    @media screen and(min-width: 1440px){
        width: 65%;
    }

    @media screen and(min-width: 2560px){
        width: 1000px;
        font-size: 66%;
    }
}

.containerlogin__title{
    color: $color-title;
    margin-bottom: 8px;

    @media screen and(min-width: 768px){
        text-align: center;
    }

    @media screen and(max-width: 767px) and (min-height: 569px) {
        text-align: center;
    }

    @media screen and(min-width: 1024px){
        text-align: left;
    }
    @media screen and(min-width: 1440px){
        font-size: 5.5vh;
    }
    @media screen and(min-width: 2560px){
        font-size: 5rem;
    }
}

.containerlogin__text{
    color: $color-message;
    margin-bottom: 40px;

    @media screen and(min-width: 768px){
        text-align: center;
    }

    @media screen and(max-width: 767px) and (min-height: 569px) {
        text-align: center;
    }

    @media screen and(min-width: 1024px){
        text-align: left;
    }


    @media screen and(min-width: 2560px){
        font-size: 2.5rem;
    }
}

.field-email,.field-password{
    margin-bottom: 30px;
    width: 100%;
    @media screen and(min-width: 2560px){
        height: 8em;
    }
}
.field-email__input{
    cursor: default;
    font-size: 14px;
    @media screen and(min-width: 2560px){
        font-size: 3.2em;
    }
}

.field-password__checkbox{
    display: none;
}

.field-password__checkbox:checked + label{
    background-image: url(../images/eyeopen.svg);
    /* TRANSITION */
}

.field-password__eye{
    background-image: url(../images/eyeclose.svg);
    background-size: 21px 13px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 20px;
    margin-left:93%;
    margin-top: 20px;
    width: 30px;
    transition-duration: 0.5s;
    transition-property: background;

    @media screen and(min-width: 768px){
        margin-left:90%;
    }

    @media screen and(max-width: 767px) and (min-height: 569px) {
        margin-left:86%;
    }
    
    @media screen and(min-width: 1024px){
        margin-left:93%;
    }
    @media screen and(min-width: 2560px){
        margin-top: 30px;
        background-size: 48px 30px;
        width: 60px;
        height: 30px;
        margin-left:90%;
    }
}
.field-password__input{
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    @media screen and(min-width: 2560px){
        font-size: 3.2em;
    }
}

.form{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form__lostpass{
    color: $color-text-passrecovery;
    cursor: pointer;
    margin-bottom:22px;

    @media screen and(min-width: 768px){
        text-align: center;
    }

    @media screen and(max-width: 767px) and (min-height: 569px) {
        text-align: center;
    }

    @media screen and(min-width: 1024px){
        text-align: right;
    }

    @media screen and(min-width: 2560px){
        font-size: 3.2em;
    }
}

.form__register{
    text-align: center;
    @media screen and(min-width: 2560px){
        margin-top: 25px;
        font-size: 3.5em;
    }
}

.form__register--link{
    color: $color-link;
    cursor: pointer;
}

.inputlabel{
    @media screen and(min-width: 2560px){
        font-size: 3.2em;
    }
}

.login{
    align-self: center;
    height: 100%;
    width: 48%;
    @media screen and(min-width: 768px){
        padding-top: 15px;
    }
    @media screen and(max-width: 767px) and (min-height: 569px) {
        padding-top: 15px;
        width: 40%;
    }

    @media screen and(min-width: 1024px){
        padding-top:4vh;
    }
}

.socialbuttons{
    display: flex;
    justify-content: space-between;
    @media screen and(min-width: 768px){
        margin-bottom: 20px;
    }

    @media screen and(min-width: 1024px){
        margin-bottom: 35px;
    }
}