@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//slider

.container-index{
    display: flex;
    height: 100vh;
}

.slider-container{
    align-self: center;
    height: 100%;
    width: 52%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    @media screen and(max-width: 767px) and (min-height: 569px) {
        width: 60%;
    }
}

.sliderimg {
    width:100%;
    height: 100%;
}

.sliderimg__photo{
    width: 100%;
    height: inherit;
    cursor: pointer;
}